<body>
  <div class="container-fluid">
    <div class="container text-center">
      <div class="row align-items-start">



        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"><i class="fa fa-home" aria-hidden="true"></i> Id</th>
              <th scope="col"><i class="fa fa-check" aria-hidden="true"></i> Nome</th>
              <th scope="col"><i class="fa fa-check" aria-hidden="true"></i> Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let heroi of dataObterHeroiOut">
              <th scope="row">{{heroi.id}}</th>
              <td>{{heroi.nomeHeroi}}</td>
              <td>
                <button type="button" data-bs-toggle="modal" data-bs-target="#myModalEditarHeroi"
                  class="btn btn-success" (click)="ObterHeroiIdEditarAsync(heroi.id)">
                  <i class="fa fa-archive" aria-hidden="true"></i> Editar
                </button>
                &nbsp;
                <button type="button" class="btn btn-primary" (click)="obterHeroiIdAsync(heroi.id)"
                  data-bs-toggle="modal" data-bs-target="#myModalVisualizarHeroi">
                  <i class="fa fa-archive" aria-hidden="true"></i> Vizualizar &nbsp;
                </button>
                &nbsp;
                <button type="button" class="btn btn-warning" (click)="DeletarHeroiAsync(heroi.id)">
                  <i class="fa fa-archive" aria-hidden="true"></i> Deletar &nbsp;
                </button>

              </td>
            </tr>
          </tbody>
        </table>



        <!-- Modal Adicionar Herói -->
        <div class="modal fade" id="myModalHeroi" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title text-center">Cadastro de Heróis</h4>
              </div>
              <div class="modal-body">

                <div class="" style="float: left; margin-left: 10px; width: 95%;">

                  <div class="mb-3">
                    <label>Nome:</label>
                    <input type="text" class="form-control" type="text" [(ngModel)]="postHeroiIn.nome" id=""
                      placeholder="Guilherme">
                    <label>Nome Heróis:</label>
                    <input type="text" class="form-control" type="text" [(ngModel)]="postHeroiIn.nomeHeroi" id=""
                      placeholder="Batman">
                    <label>Data de nascimento:</label>
                    <input type="text" class="form-control" type="text" [(ngModel)]="dataNascimento" id=""
                      placeholder="10/02/96">
                    <label>Altura:</label>
                    <input type="number" class="form-control" type="text" [(ngModel)]="postHeroiIn.altura" id=""
                      placeholder="1.70">
                    <label>Peso:</label>
                    <input type="number" class="form-control" type="text" [(ngModel)]="postHeroiIn.peso" id=""
                      placeholder="65.5">
                    <br>
                    <div class="form-check" *ngFor="let superpoder of dataObterSuperpoderOut">
                      <input class="form-check-input" type="checkbox" (click)="poderSelecionado(superpoder.id)" value=""
                        id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        {{superpoder.superPoder}}
                      </label>
                    </div>
                    <br>
                    <button type="button" class="btn btn-secondary" (click)="AdicionarHeroiAsync()">Adicionar
                      Herói</button>

                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Adicionar Herói -->


        <!-- Modal Vizualizar Herói -->
        <div class="modal fade" id="myModalVisualizarHeroi" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title text-center">Informações Herói {{heroiObterIdHeroiOut.nomeHeroi}}</h4>
              </div>
              <div class="modal-body">

                <div class="" style="float: left; margin-left: 10px; width: 95%;">

                  <div class="mb-3">
                    <label><b>Nome:</b></label>
                    {{heroiObterIdHeroiOut.nome}} <br>

                    <label><b>Nome Heróis:</b></label>
                    {{heroiObterIdHeroiOut.nomeHeroi}}<br>

                    <label><b>Data de nascimento:</b></label>
                    {{heroiObterIdHeroiOut.dataNascimento| date:'dd/MM/yyyy'}}<br>

                    <label><b>Altura:</b></label>
                    {{heroiObterIdHeroiOut.altura}}<br>

                    <label><b>Peso:</b></label>
                    {{heroiObterIdHeroiOut.peso}}<br>
                    <br>

                    <label><b>Superpoderes:</b></label>
                    <div *ngFor="let superpoder of superpodereObterIdHeroiOut">
                      <label>
                        {{superpoder.superPoder}}
                      </label>
                    </div>
                    <br>

                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Vizualizar Herói -->


        <!-- Modal Editar Herói -->
        <div class="modal fade" id="myModalEditarHeroi" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title text-center">Editar Herói {{putHeroiIn.nome}}</h4>
              </div>
              <div class="modal-body">

                <div class="" style="float: left; margin-left: 10px; width: 95%;">

                  <div class="mb-3">
                    <label>Nome:</label>
                    <input type="text" class="form-control" type="text" [(ngModel)]="putHeroiIn.nome" id=""
                      placeholder="Guilherme">
                    <label>Nome Heróis:</label>
                    <input type="text" class="form-control" type="text" [(ngModel)]="putHeroiIn.nomeHeroi" id=""
                      placeholder="Batman">
                    <label>Data de nascimento:</label>
                    <input type="text" class="form-control" type="text" [(ngModel)]="putHeroiIn.dataNascimento" id=""
                      placeholder="10/02/96">
                    <label>Altura:</label>
                    <input type="number" class="form-control" type="text" [(ngModel)]="putHeroiIn.altura" id=""
                      placeholder="1.70">
                    <label>Peso:</label>
                    <input type="number" class="form-control" type="text" [(ngModel)]="putHeroiIn.peso" id=""
                      placeholder="65.5">
                    <br>
                    <div class="form-check" *ngFor="let superpoder of dataObterSuperpoderOut">

                      <input *ngIf="!putHeroiIn.superpoderes.includes(superpoder.id)" class="form-check-input"
                        type="checkbox" (click)="poderSelecionado(superpoder.id)" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        {{superpoder.superPoder}}
                      </label>


                      <input *ngIf="putHeroiIn.superpoderes.includes(superpoder.id)" class="form-check-input"
                        type="checkbox" (click)="poderSelecionado(superpoder.id)" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckChecked">
                        {{superpoder.superPoder}}
                      </label>
                    </div>
                    <br>
                    <button type="button" class="btn btn-secondary" (click)="AlterarHeroiAsync()">Alterar</button>

                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Editar Herói -->

        <!-- Modal Adicionar Superpoderes -->
        <div class="modal fade" id="myModalSuperpoderes" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title text-center">Cadastro de Superpoder</h4>
              </div>
              <div class="modal-body">

                <div class="" style="float: left; margin-left: 10px; width: 95%;">
                  <div class="mb-3">
                    <label>Nome:</label>
                    <input type="text" class="form-control" type="text" ng-model="" id="" [(ngModel)]="superpoderNome"
                      placeholder="Soco">
                    <label>Descrição:</label>
                    <input type="text" class="form-control" type="text" ng-model="" id=""
                      [(ngModel)]="superpoderDescricao" placeholder="Soco azul">
                    <br>
                    <button type="button" class="btn btn-secondary" (click)="AdicionarSuperpoderAsync()">Adicionar
                      Superpoder</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Adicionar Superpoderes -->


        <!-- Footer -->
        <nav class="navbar fixed-bottom navbar-light bg-light">
          <a class="navbar-brand" style="margin-left: 1%;">Desenvolvido por: Guilherme Postinico 2023</a>
          <div style="margin-right: 1%;">
            <button type="button" data-bs-toggle="modal" (click)="cadastrarHeroi()" data-bs-target="#myModalHeroi"
              class="btn btn-dark">Cadastrar
              Heróis</button>
            <button style="margin-left: 10px;" type="button" data-bs-toggle="modal"
              data-bs-target="#myModalSuperpoderes" class="btn btn-dark">Cadastrar Superpoderes</button>
          </div>
        </nav>
        <!-- Footer -->


      </div>
    </div>
  </div>
</body>